<div id="<%= dom_id promotion %>">
  <p>
    <strong>Name:</strong>
    <%= promotion.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= promotion.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= promotion.active %>
  </p>

</div>
